name: Build source code and check lint

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    tags:
      - "*"

jobs:
  build_android:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - name: Install dependencies
        id: install_code
        run: bun i
      - name: Setup java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
          cache: 'gradle'
          cache-dependency-path: | # optional
            android/.gradle/*.gradle*
            android/**/gradle-wrapper.properties
      - name: Build
        id: build_code
        run: npm run verify:android
  build_ios:
    runs-on: macos-15
    steps:
      - name: Check out
        uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - uses: actions/cache@v4
        id: cocoapods-cache
        with:
          path: ios/Pods
          key: ${{ runner.os }}-pods-${{ hashFiles('ios/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-
      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - name: Install dependencies
        id: install_code
        run: bun i
      - name: Build
        id: build_code
        run: bun run verify:ios
  deploy:
    needs: [build_android, build_ios]
    runs-on: ubuntu-latest
    name: "Build code and GitHub Packages release"
    permissions:
      contents: read
      packages: write
    steps:
      - name: Check out
        uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - name: Install dependencies
        id: install_code
        run: bun i
      - name: Lint
        id: lint_code
        run: bun run lint
      - name: Build
        id: build_code
        run: bun run build
      - name: Verify
        id: verify_code
        run: bun run verify:web
      - name: Setup .npmrc for GitHub Packages
        run: |
          echo "@butlergreece:registry=https://npm.pkg.github.com" >> .npmrc
          echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" >> .npmrc
      - name: Publish to GitHub Packages (stable)
        if: ${{ !contains(github.ref, '-alpha.') }}
        run: npm publish
      - name: Publish to GitHub Packages (alpha)
        if: ${{ contains(github.ref, '-alpha.') }}
        run: npm publish --tag next
